#email {
  font-size: 35px;
  color: #db1019;
}

#github {
  font-size: 35px;
  color: black;
}

#linkedin {
  font-size: 35px;
  color: #0072b1;
}

.mainFrame {
  margin-top: 10%;
  margin-left: 5%;
}

#mainFrameMenu {
  margin-right: 200px;
}

#mainFrameContent {
  margin-left: 100px;
}
