body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #36d1dc, #5b86e5);
}

#email {
  font-size: 35px;
  color: #db1019;
}

#github {
  font-size: 35px;
  color: black;
}

#linkedin {
  font-size: 35px;
  color: #0072b1;
}

.mainFrame {
  /* margin-top: 10%;
  margin-left: 5%; */
}

#mainFrameMenu {
  background-color: white;
  border-radius: 20px;
  margin-right: 150px;
}

#mainFrameContent {
  margin-left: 100px;
}

.introIcon {
  font-size: 230px;
}

.btn:hover {
  transition-duration: 0.25s;
  /* background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50); */
  color: #3d5be8;
}
